.App {
  text-align: center;
}

.container {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  height: 200px;
  width: 50%;
  margin-left: 25%;
  margin-top: 25%;
}

.top-bar {
  background-color: darkred;
  height: 50px;
  width: 100%;
  border-radius: 10px;
}
.menu-text {
  display: flex;
  flex-direction: row;
}

#logo {
  margin: 0;
  margin-left: 2%;
}

#menu {
  margin: 0;
  margin-left: 68%;
}
div.count {
  display: flex;
  flex-direction: row;
  justify-content: end;
}
#minus {
  height: 50px;
  width: 50px;

  border: none;
  color: black;
  border-radius: 12px;
}
#plus {
  height: 50px;
  width: 50px;
  background-color: blue;
  border: none;
  color: white;
  border-radius: 12px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
